body,
document,
html {
  margin: 0;
  padding: 0;
  background-color: #708090;
}

#gamespace {
  min-height: 500px;
  min-width: 500px;
  background-color: #2f4f4f;
}

#diveComputer {
  border: 3px solid #a9a9a9;
  background-color: #111;
  height: 50%;
  width: 200px;
}

body {
  color: #ddd;
}
